name: CI

on:
  pull_request:
    branches:
    - main
  push:
    branches:
    - main

jobs:
  build:
    runs-on: macOS-latest
    steps:
    - uses: actions/checkout@v5
    - name: Tests
      uses: sersoft-gmbh/xcodebuild-action@v4
      with:
        project: SwiftBeanCountImporterApp.xcodeproj
        scheme: SwiftBeanCountImporterApp
        destination: platform=macOS
        action: test
  swiftlint:
    name: SwiftLint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Install Swift
        uses: swift-actions/setup-swift@v2.3.0
      - name: Install SwiftLint
        run: |
          curl -L https://github.com/realm/SwiftLint/releases/download/0.57.0/swiftlint_linux.zip -o swiftlint.zip
          unzip swiftlint.zip -d swiftlint
          ./swiftlint/swiftlint --version
      - name: Run SwiftLint
        run: ./swiftlint/swiftlint --strict --reporter github-actions-logging
